.book {
    background: #fff;
    display: block;
    width: 100%;
    height: 153px;
    padding: 8px;
    border-bottom: solid 2px #f1f1f1;

}

.book_img {
    width: 30%;
    height: 100%;
    float: left;
}

img {
    width: 100%;
    max-height: 100%;
    min-height: 90%;
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
}

.book_info {

    float: left;
    width: 70%;
    max-height: 100%;
    color: #8f8f8f;
    padding-left: 8px;
    padding-bottom: 5px;

}

.book_info h4 {
    overflow: hidden;
    line-height: 14px;
    font-size: 13px;
    height: 28px;
    margin-top: -1px;
    margin-bottom: 4px;
}

.book_info h4 a {
    text-decoration: none;
    color: #333;
}

.book_info h4 a:hover {
    color: #2635ff;
}

.book_info p {
    margin-top: 0;
    overflow: hidden;
    height: 71px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;

}

.book_info p {
    color: #555;

}
