table.table td a.sua {
    color: #FFC107;
}
table.table td a.xoa {
    color: #f4765c;
}
table.table td a.xem{
    color: #0000FF;
}
table.table td a.sua:hover {
    color: #ff930e;
}
table.table td a.xoa:hover {
    color: #f43f1f;
}
table.table td a.xem:hover{
    color: #8b13ff;
}
span.badge.badge-danger{
    background-color: #ff7835;
}
span.badge.badge-primary{
    background-color: #2635ff;
}
.thongtinxe{

    background-color:azure;
    padding: 15px;
}

